@charset "UTF-8";
@import 'reset.css';

/* layout */
.inner{
  width: 100%;
  max-width: 1380px;
  margin:0 auto;
}

.wrap::after{
  content: "";
  display: block;
  clear: both;
}

/* header */
#header{
  width: 100%;
  background: transparent;
  padding: 0 10vw;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10;
}
#header .wrap{
  padding: 33px 0;
}
#header #logo{
  float: left;
  font-size: 0;
}
#header #logo a{
  font:bold 22px/1 'arial';
  color:#fff
}
#header .nav{
  float: right;
}
#header .nav ul li{
  float: left;
  margin-left: 55px;
}
#header .nav ul li a{
  display: block;
  padding: 10px;
  font:bold 14px/1 'arial';
  color:#fff
}

/* main */
#main{
  
}
#main .wrap{
  width: 100%;
  height: 100vh;
}
#main .main_img{
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 100px;
  background: #979797;
}
#main .main_txt{
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  padding-top: 100px;
  background: #040525;
}
#main .main_txt h2{
  position: absolute;
  top:50%;
  width: 45%;
  padding-left: 10%;
  transform: translateY(-50%);
  font:normal 32px/1.4 'arial';
  color: #fff;
}
/* process */
#process{
  padding: 150px 0;
}
#process h2{
  font:bold 24px/1 'arial';
  color: #fff;
}
#process .slide_wrap{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
#process .wrap{
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width: 1800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  
}
#process article{
  flex-shrink: 0;
  width: 500px;
  height: 350px;
  background: #979797;
  margin:0 50px;
}

/* what */
#what{
  padding: 0 0 150px;
}
#what .inner::after{
  content: "";
  display: block;
  clear: both;
}
#what h2{
  float: left;
  max-width: 460px;
  width: 30%;
  font:bold 24px/1 'arial';
  color: #666;
}
#what .wrap{
  width: 70%;
  max-width: 920px;
  float: left;
}
#what article{
  width: 48%;
  float: left;
}
#what article:nth-child(2n-1){
  margin-right: 4%;
}
#what article:nth-child(1),
#what article:nth-child(2){
  margin-bottom: 30px;
}
#what article .thumb{
  display: block;
  width: 50px;
  height: 50px;
  background: #040525;
  border-radius: 50%;
}
#what article h4{
  font:normal 18px/1 'arial';
  color: #666;
  margin-top: 20px;
}
#what article p{
  font:bold 14px/1.4 'arial';
  color: #999;
  margin-top: 20px;
}

/* blog */
#blog{
  padding: 120px 0;
}
#blog h2{
  font:bold 24px/1 'arial';
  color: #666;
  width: 100%;
  max-width: 1380px;
  margin:0 auto;
}

/* work */
#work{
  padding: 150px 0;
  background: #ccc;
}

#work h2{
  font:normal 28px/1 'arial';
  color: #666;
  text-align: center;
}

/* footer */
#footer{
  
}

