$black : #0e0e0e;
// $black2 : #0e0e0e;
$yellow : #ffee94;
// $yellow2 : #eed78a;
// $yellow3 : #f3e859;
$yellow4:#fbf1d6;
$pink : #f2a0b7;
$pink2 : #f4b7c6;
// $pink3:#f09bc2;
$pink4:#ed87ae;
$sky : #a9dcf9;
// $sky2 : #5bc4d7;
$green : #73bb74;
$green2 : #1d653b;
$blue : #165fc6;
$white:#fff;