.notice{
  .con{
    border:2px solid $black;

    table{
      width: 100%;
      border:1px solid $black;
      tr{
        th{
          padding: 20px 30px;
          font:bold 14px/1 'arial'; 
          color: $white;
          text-align: center;
          background: $pink4;
          border: 1px solid $black;
        }
        td{
          padding: 20px 30px;
          font:normal 13px/1 'arial';
          text-align: center;
          color: $black;
          background: $white;
          border:1px solid $black;
          &:nth-of-type(2){
            text-align: left;
            a{
              font:normal 13px/1 'arial';
              color: $black;
            }
          }
        }
      }
    }
  }
    
  
  .pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    
    a{
      display: block;
      text-align: center;
      color: $black;
      &.prev{        
        width: 32px;
        height: 32px;
        font:bold 12px/30px 'arial';
        border:2px solid $black;
        border-right: none;
      }
      &.next{
        width: 32px;
        height: 32px;
        font:bold 12px/30px 'arial';
        margin-right: 0;
        border:2px solid $black;
        border-left: none;
      }
    }
    .numbers{
      display: flex;
      border:2px solid $black;
      a{
        width: 28px;
        height: 28px;
        font:bold 12px/28px 'arial';
        margin: 0 3px;
      }
      
    }
  }
}